<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <form method="post" action=" /products/<%= news._id %>/update ">
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Title </label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" value="<%= news.title %> " placeholder="Press name" name="title" required />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Description</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" value="<%= news.description %> " id="haha" placeholder="Press description" type="text" name="description" required />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Image</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control"  type="file" accept="image/*" name="image" onchange="loadFile(event)" required />
        <img src="<%= news.imageUrl %> " id="output" alt="" width="100" height="100">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Category</label>
      <select name="categoryID" id="">
        <option selected value="<%= news.category._id %> "><%= news.category.name %> </option>
      </select>
    </div>
    <div class="text-right">
      <button class="btn btn-primary" type="submit">Update News</button>
    </div>


  </form>

  <script>
    const loadFile = function(event) {
      let reader = new FileReader();
      reader.onload = function() {
        const output = document.getElementById('output');
        output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
      const test = event.target.files
      console.log("🚀 ~ file: detailNews.ejs ~ line 55 ~ loadFile ~ test", test)
    };
  </script>
</body>

</html>